@model DemoMVC.Models.FirstEmp
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using(Html.BeginForm("Display","Bound"))
{
<table>
    <tr>
        <td>Empno</td>
        <td>@Html.TextBoxFor(a => a.Empno)</td>
    </tr>
    <tr>
        <td>Ename</td>
        <td>@Html.TextBoxFor(a => a.Ename)</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>@Html.TextBoxFor(a => a.Salary)</td>
    </tr>
    <tr>
        <td><input type="submit"/></td>
    </tr>
</table>
}

