@model DemoMVC.Models.FirstEmp
@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>
@using(Html.BeginForm())
{
<table>
    <tr>
        <td>Empno</td>
        <td>@Html.TextBoxFor(A => A.Empno)</td>
    </tr>
    <tr>
        <td>Ename</td>
        <td>@Html.TextBoxFor(A => A.Ename)</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>@Html.TextBoxFor(A => A.Salary)</td>
    </tr>
    <tr>
        <td><input type="submit" value="click" /></td>
    </tr>
</table>
}
