@*HTML HELPER CODE(helps us to use control statements in html)*@
@{
    ViewBag.Title = "Index";
}
    <font color="blue">
        <h2>
            @ViewBag.str
            @ViewData["str1"]
            @TempData["str2"]
        </h2>
    </font>

