@model DemoMVC.Models.FirstEmp
@{
    ViewBag.Title = "SendObject";
}

<h2>SendObject</h2>
<table>
    <tr>
        <td>Empno:</td>
        <td>@Model.Empno</td>
    </tr>
    <tr>
        <td>Ename:</td>
        <td>@Model.Ename</td>
    </tr>
    <tr>
        <td>Salary:</td>
        <td>@Model.Salary</td>
    </tr>
</table>
