
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using(Html.BeginForm())
{
<h3>Enter Ename @Html.DropDownList("ddlEmpno",
                     new SelectList(ViewBag.EL,"Empno","Ename"),
                     "Select",new {onblur="fun1();" })</h3>
    if(ViewBag.msg!=null)
    {
        //if we wnt to use alert use script
        <script>
            alert("@ViewBag.msg");
        </script>
        //@ViewBag.msg;
    }

}
<script>
    function fun1() {
        var empno = document.getElementById("ddlEmpno").value;
        if (empno.length != 0) {
            var c = confirm("Do you want to delete emp " + empno);
            if (c == true) {
                window.location.href = "/EventsEx/GetData?empno="+empno;
            }
        }
    }
</script>
